.Slider {
	-fx-color: #535353;
}

.background {
    -fx-background-color: #535353;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
}


.button {
	-fx-border-radius: 10px, 10px;
    -fx-padding: 5 22 5 22;   
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #505050;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
	-fx-border-radius: 10px, 10px;
    -fx-background-color: #3a3a3a;
    -fx-background-radius: 10px, 10px;
    -fx-border-color: black, black;
    -fx-border-width: 1px, 1px;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-insets: 1 1 1 1, 0; 
}

.button:pressed, .button:default:hover:pressed {
	-fx-border-radius: 10px, 10px;
  -fx-background-color: white;
  -fx-text-fill: #1d1d1d;
}

.button:focused {
	-fx-background-radius: 10px, 10px;
    -fx-border-color: black, black;
    -fx-border-width: 1px, 1px;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 10px, 10px;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
	-fx-background-color: #737373;
	-fx-background-radius: 10px, 10px;
    -fx-border-radius: 10px, 10px;

    -fx-text-fill: white;
}

.button:default {
	-fx-border-radius: 10px, 10px;
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
	-fx-border-radius: 10px, 10px;
    -fx-background-color: derive(-fx-focus-color,30%);
}